*{
    box-sizing: border-box;
    margin: 0;
 
}
body {
    margin: 0px; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.navbar{
    overflow: hidden;

}

.navabar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
   

}

a{
    text-decoration: none;
    position: relative;
    top: -70px;
    left : 20px;
    margin:5px;
    color:rgb(252, 87, 5);
}

.prin{
    
    position: relative;
    top: 10px;
    left: -40px 30px;
}

.ic{
    position: absolute;
    top: 113px;
    left: 1470px
}

.texto{
    position: absolute;
    left:550px;
    top: 250px;
    font-size: 38px;
}
.pri{
    position: relative;
    left: 120px;
    display: block;
}

p{
    position: absolute;
    left:700px;
    top: 403px;
    color: rgb(171, 173, 173);
}

 
footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    top: 800px;
  }
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }